<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="login.Properties.Settings.Setting" connectionString="Data Source=DESKTOP-7OFS8L5\SQLEXPRESS;Initial Catalog=test;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>